%h1.title Product Types

%table
  %thead
    %tr
      %th Name
      %th Brand
      %th Description
      %th More Info
  %tbody
    - @product_types.each do |p|
      %tr
        %td= p.name 
        %td= p.brand
        %td= p.description
        %td= link_to "More details", product_type_path(p)

= link_to 'Add new product type', new_product_type_path
