



%h1.title Bargains

%table
  %thead
    %tr
      %th Price
      %th Store
      %th User
      %th Product Type
      %th More Info
  %tbody
    - @bargains.each do |p|
      %tr
        %td= p.price 
        %td= p.store
        %td= p.user
        %td= p.product_type
        %td= link_to "More details", bargain_path(p)

= link_to 'Add bargain', new_bargain_path
