
%h1.title Bargains

%table
  %thead
    %tr
      %th Price
      %th Store
      %th User
      %th Product Type
      %th More Info
  %tbody
    - @bargains.each do |p|
      %tr
        %td= p.price 
        %td= p.store.name if p.store != nil
        %td= p.user.email  if p.user != nil
        %td= p.product_type.name  if p.product_type != nil
        %td= link_to "More details", bargain_path(p)

= link_to 'Add bargain', new_bargain_path
