-# in app/views/bargain/show.html.haml

%h2 Details about bargain

%ul#details
  %li
    Price:
    = @bargain.price
  %li
    Store:
    = @bargain.store
  %li
    User:
    = @bargain.user
  %li
    Product Type:
    = @bargain.product_type

%h3 Description:

%p#description= @bargain.description

= link_to 'Edit', edit_bargain_path(@bargain)
= button_to 'Delete', bargain_path(@bargain), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to bargains list', bargains_path
