-# edit.html.haml using partial

%h1 New Store

= form_tag stores_path do
  - if @store.errors.any?
    %div#validation_error
      %b Errors
      %ul
        -@store.errors.full_messages.each do |e|
          %li 
            = e
  = label :store, :name, 'Name'
  = text_field :store, 'name'

  = label :store, :address, 'Address'
  = text_field :store, 'address'

  = label :store, :description, 'Description'
  = text_area :store, 'description'

  = submit_tag 'Save Changes'
