-# in app/views/user/show.html.haml

%h2 Details about #{@user.name}

%ul#details
  %li
    Name:
    = @user.name
  %li
    Password:
    = @user.password
  %li
    E-mail:
    = @user.email

%h3 Description:

%p#description= @user.description

= link_to 'Edit', edit_user_path(@user)
= button_to 'Delete', user_path(@user), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to product type list', users_path
